{{template "base" .}}
{{define "title"}}Groupie Tracker {{end}} 
{{define "css"}} <link rel="stylesheet" href="./assets/css/styleArtist.css">{{end}}
  {{define "body"}}
    <div id="artistInfo">
        <div id="miseEnPage">
          <img id="imageArtiste" src="{{.Image}}" alt="Photo artiste">
          <h3 id="nom">{{.Name}}</h3>
          <div>Le groupe est composé de
            {{range .Members}}
            {{.}},
          {{end}}  
          </div>
          <p id="dateCreation">Le groupe a été créer en {{.CreationDate}}</p>
          <p id="firstAlbum">Le premier album est sortie en {{.FirstAlbum}}</p>
        </div>
    </div>
    {{end}}
