<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/styleArtist.css">
    <title>Artites</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm bg-faded navbar-dark"> 
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navBar" aria-controls="navBar" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-brand">Groupie Tracker</div>
            <div class="collapse navbar-collapse justify-content-end" id="navBar">
              <ul class="navbar-nav">
                <li class="nav-item active">
                  <a class="nav-link" href="/">Accueil</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/Artists/">Artistes</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Localisations</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Dates</a>
                </li>
              </ul>
            </div>
          </nav>
    </header>
    <div class="container-fluid" id="listeArtiste">              
        {{range .}}
    <form action="" method="POST">
      <button class="container" id="vignette" type="submit" name="artiste" value="{{.Name}}">
        <img src="{{.Image}}" width="200" height="200" alt="{{.Name}}">
        <h3 id="nomArtiste">{{.Name}}</h3>
      </button>
    {{end}}
    </form>
  </div>
</body>
</html>