{{template "base" .}}
{{define "title"}}Artiste {{end}} 
{{define "css"}} <link rel="stylesheet" href="./assets/css/styleArtist.css">{{end}}
  {{define "body"}}
    <div id="artistInfo">
        <div id="miseEnPage">
          <img id="imageArtiste" src="{{.Image}}" alt="Photo artiste">
          <h3 id="nom">{{.Name}}</h3>
          <div id="member">Le groupe est composé de :
            {{range .Members}}
              <li>
                {{.}}
              </li>
            {{end}}
          </div>
          <p id="dateCreation">Le groupe a été créer en {{.CreationDate}} et le premier album est sortie le {{.FirstAlbum}}.</p>
          <div id="concert">Concerts:
            <div id="concertListe">
              {{range $k, $v := .Relations.DatesLocations}}
                <strong>{{$k}}:</strong> 
                {{range $date := $v}} 
                  <li>{{$date}}</li> 
                {{end}}
              {{end}}
          </div>
            
          </div>
        </div>
    </div>
    {{end}}
