{{template "base" .}}

{{define "title"}}Liste des Localisations{{end}} 

{{define "css"}} <link rel="stylesheet" href="./assets/css/styleLocationsListe.css">{{end}}

{{define "body"}}
  <div class="container-fluid">
    <div class="row justify-content-center">         
      {{range .Index}}       
        <h3 id="nomLocation">
            {{range .Locations}}
                <form action="/location?id={{.}}" method="POST"> 
                    <button id="vignette" type="submit" name="location" value="{{.}}">
                        <ul>{{.}}</ul>                        
                    </button>
                </form>
                {{end}}
            </h3> 
        
      {{end}}
    </div>
  </div>
{{end}}