
h3{
    font-size: 16px;
    font-weight: bold;
}
h4{
    font-size: 15px;
    background-color: #98A6D4;
    border: #ffffff 2px solid;
    border-radius: 10px;
    width: 100px;
    margin: 0 auto;
}

body{
    background-color: #F4F1DE;
}

/* Listes*/
#listeArtiste { 
    text-align: center;
}

#vignette {
    border: solid 3px #D65108;
    border-radius: 5px;
    background-color: #ffffff;
    color: #000000;
    width: 210px;
    height: 290px;
    margin: 20px 30px;
}

#vignette:hover {
    border: solid 3px #D65108;
    border-radius: 5px;
    background-color: #D65108;
    color: #ffffff;
    width: 210px;
    height: 290px;
    cursor:grab;
    
}
#vignette:active {
    border: solid 3px #D65108;
    border-radius: 5px;
    background-color: #D65108;
    color: #ffffff;
    width: 210px;
    height: 290px;
    cursor:grabbing;
    
}

#vignette img {
    border-radius: 100px;
    margin: 0px -12.5px;
}