{{template "base" .}}

{{define "title"}}Liste des emplacements{{end}} 

{{define "css"}} <link rel="stylesheet" href="./assets/css/styleLocationsListe.css">{{end}}

{{define "body"}}
<br><br>
  <h2>Liste des emplacements :</h2>
  <div class="container-fluid">
    <div class="row justify-content-center">  
      {{range .}}
      <form action="/location?slug={{.Slugh}}" method="POST">          
          <button id="vignette" type="submit" name="location" value="{{.Slugh}}">
            <h4><ul name="city" value="{{.City}}">{{.City}},  <span id="pays">{{.Country}}</span></ul></h4>                       
          </button>
      </form>
      {{end}}
    </div>
  </div>
{{end}}